* {
  color: #0a2ff1;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 23pt;
}

body {
  max-width: 770px;
}

#img {
  background-image: url("./fondo.JPG");
  background-size: contain;
  width: 410px;
}

h1 {
  font-size: 59pt;
  font-weight: 700;
}

h1 span {
  background-color: #3ffff3;
  font: inherit;
}
