@font-face {
  font-family: "coolvetica";
  src:
    local("coolvetica"),
    url("../Recursos/Ejercicio1/Recursos/coolvetica\ rg\ \(2\).otf") format(opentype),
    url("https://www.dafont.com/es/coolvetica.font") format(opentype);
}

* {
  margin: 0;
  font-family: coolvetica, sans-serif;
  color: #0a2ff1;
}

main {
  display: flex;
  justify-content: space-evenly;
}

.card {
  background-color: #eff2ff;
  width: 20%;
  padding: 1em;
}

h3 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 120px;
}

p {
  font-size: 24px;
  color: #04146c;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 25%;
}

#apple {
  width: 18%;
}
