* {
  font-family: "Poppins", sans-serif;
  color: #0a2ff1;
  font-size: 24pt;
}

p {
  font-weight: 300;
}

img {
  width: 100px;
  vertical-align: middle;
  margin-left: 30px;
}

footer {
  text-align: center;
}
