* {
  font-family: 'Mulish', sans-serif;
}

body {
  background-image: url('./recursos/M4-desafio1-fondo.png');
}

.container {
  background-image: url('./recursos/M4-desafio1-fondo-form.png');
  width: 50%;
  margin: auto;
  padding: 30px 100px;
  min-width: fit-content;
}

h1 {
  font-size: 24.48pt;
  color: #04146c;
  text-align: center;
}

form {
  width: 600px;
  height: 400px;
  padding: 20px;
  margin: auto;
  background-color: white;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  color: #414166;
  padding-left: 10px;
}

button {
  background-color: #15163d;
  color: white;
  font-weight: 600;
}

input, button {
  width: 500px;
  height: 50px;
  display: block;
  margin: 10px auto;
  font-size: 17pt;
}

