@font-face {
  font-family: "roboto";
  src:
    local("roboto"),
    url('../resources/Ejercicio1/Recursos/Roboto-Light.ttf') format(opentype),
    url('https://fonts.google.com/share?selection.family=Roboto:wght@300;400;700') format(opentype);
}

* {
  color: #04146c;
  font-family: roboto, sans-serif;
}

body {
  display: flex;
}

body>div {
  display: inline-block;
  width: 30%;
  margin: 0 auto;
  align-self: center;
}

h1 {
  color: #0a2ff1;
  font-size: 48pt;
  font-size: 4rem;
  margin: 1rem 0;
}

p {
  font-size: 2rem;
  font-weight: 300;
}

#punctuation {
  width: 30%;
}

footer {
  font-size: 1rem;
}

a {
  text-decoration: none;
}
