* {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-align: center;
}

body {
  max-width: 1500px;
}

.line1 {
  font-size: 50pt;
  padding: 0 0 130px;
}

.line1, .line2, .line3, .line4, .line5 {
  background-color: white;
}

.line2 {
  font-size: 148pt;
  color: white;
  background-color: black;
}

.line3 {
  font-size: 163pt;
  padding: 195px 0;
}

.line4 {
  font-size: 36pt;
  font-weight: 600;
}

.line5 {
  font-size: 44pt;
  font-weight: 600;
  padding: 70px 0 0;
}

strong {
  font-size: 45pt;
  background: #000;
  color: white;
}

.line1, .line4, .line5 {
  color: #0a2ff1;
}

.container {
  background-color: #0a2ff1;
  padding: 80px 0 120px;
}
