body {
  background-color: #edf7ff;
  font-size: 25pt;
}

h1 {
  font-size: 88pt;
  height: 150px;
}

h1,
h2,
.epigraph {
  color: #0a2ff1;
}

.epigraph {
  font-size: 39pt;
  padding-bottom: 800px;
}

p,
li {
  color: #04146c;
}

.epigraph,
p {
  font-family: "Asap", sans-serif;
}

h2 {
  font-size: 36pt;
}

h1,
h2,
footer {
  font-family: "MuseoModerno", cursive;
  margin-bottom: 0;
}

footer {
  font-size: 149pt;
  color: #8a9af1;
}


li,
footer {
  font-weight: bold;
}

div {
  padding-left: 130px;
  width: 870px;
}
