* {
  font-family: "Source Sans 3", sans-serif;
  color: #04146c;
  margin: auto;
  text-align: center;
  box-sizing: content-box;
}

body {
  width: 50%;
}

.container {
}

header {
  color: white;
  background-color: #04146c;
  font-size: 29pt;
}

h1 {
  font-weight: 900;
  font-size: 66pt;
  width: 600px;
}

p {
  font-size: 20pt;
}

img {
  width: 600px;
  border: 1px solid #04146c;
}

.caption {
  background-color: #edf7ff;
  font-size: 18pt;
}
