* {
  font-family: 'Roboto', sans-serif;
  color: #04146c;
}

body {
  margin: 0;
}

header {
  height: 35px;
  background-image: url('./resources/M5-Desafío1-img.png');
  background-size: 100%;
}

nav {
  display: inline;
}

#logo {
  width: 5%;
  margin-top: 30px;
}

a {
  font-size: 18pt;
  text-decoration: none;
  margin: 40px;
}
a:active {
  font-weight: 700;
}

main {
  display: block;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 72pt;
  color: #0a2ff1;
  margin-bottom: 25px;
}

p {
  font-size: 26pt;
  margin-top: 0;
}

h1, p {
  width: 100%;
  text-align: center;
}

img {
  width: 100%;
}